/* ---------------------------- Adolfo Ferreira - Personal Website (Animations)  ---------------------------- */
/* ---------------------------- v1.0 | August 2022 ---------------------------- */


/* ---------------------------- FADE IN ---------------------------- */

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }

}

.fade-in {
    animation                        : fadeIn 2s;
    -webkit-animation                : fadeIn 2s;
    animation-fill-mode              : both;
    -webkit-animation-fill-mode      : both;
    animation-timing-function        : spring(1 200 10 5);
    -webkit-animation-timing-function: spring(1 200 10 5);
}


/* ---------------------------- FADE IN + SLIDE UP ---------------------------- */

@keyframes fadeInUp {
    0% {
        opacity  : 0;
        transform: translateY(60px);
    }

    100% {
        opacity  : 1;
        transform: none;
    }

}

.slide-up {
    animation                        : fadeInUp 0.8s;
    -webkit-animation-fill-mode      : both;
    animation-fill-mode              : both;
    -webkit-animtion                 : slideup 0.8s;
    animation-timing-function        : spring(1 200 10 5);
    -webkit-animation-timing-function: spring(1 200 10 5);
}

.a1.slide-up {
    animation-delay        : 0.2s;
    -webkit-animation-delay: 0.2s;
}

.a2.slide-up {
    animation-delay        : 0.4s;
    -webkit-animation-delay: 0.4s;
}

.a3.slide-up {
    animation-delay        : 0.6s;
    -webkit-animation-delay: 0.6s;
}